spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:file:~/h2/batch-redis;AUTO_SERVER=true;;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
    generate-unique-name: false
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2
  sql:
    init:
      mode: always
  batch:
    jdbc:
      initialize-schema: always
  redis:
    cluster:
     nodes: 127.0.0.1:6379
     max-redirects: 3
